.home_list-item p {
	color: rgb(175, 172, 172);
	padding: 5px 4px;
	font-size: .5rem;
}
.deti {
	margin: 0;
	padding-top: 10px;
	font-size: .8rem;
}
.picha {
	margin: 5px 0;
	object-fit: cover;
}
.furem {
	overflow: hidden;
}
.furem img {
	transition: all 1.5s ease;
}
.furem:hover img {
	transform: scale(1.5);
}
