.carousel_image {
	display: block;
	width: 100%;
	height: 95vh;
	object-fit: cover;
	/* background-size: cover; */
}
.wrapper {
	width: 100%;
	height: 95vh;
}
.homu {
	margin-top: 60px;
}
.horzLine {
	color: purple;
	width: 10%;
}
.picha {
	width: 95%;
	/* height: 15rem; */
	object-fit: cover;
}
.futa {
	background-color: rgb(201, 200, 200);
	bottom: 0;
	margin: 0%;
}
.paded {
	padding: 20px 0;
}
.padedcont {
	padding-top: 40px;
}
.content {
	margin-left: 35%;
}
.bgkala {
	background-color: #af7ac5;
	/* opacity: .7; */
	color: white;
}
.soc-media {
	height: 2px;
	padding: 2px;
}
.fonti {
	font-family: "verdana" !important;
	font-size: 15px;
}
