.MyModal {
	width: 80%;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
	position: absolute;
	top: 20vh;
	left: 5%;
	color: rgb(10, 10, 10);
	/* height: 100vh; */
	z-index: 100;
}
.MyModal_header {
	padding: 1rem;
	/* background: rgb(108, 5, 131) */
}
.MyModal_header h1 {
	margin: 0;
	font-size: 1.25rem;
}
.MyModal_content {
	padding: 1rem;
	background: rgb(255, 254, 255)
	/* ba */
}
.MyModal_actions {
	display: flex;
	/* justify-content: flex-end; */
	padding: 1rem;
}
@media (min-width: 768px) {
	.MyModal {
		width: 60rem;
		left: calc((100% - 60rem) / 2);
	}
}
